version: "2.1"
services:
  work:
    extends:
      file: common.yml
      service: deby

  build_test:
    extends:
      file: common.yml
      service: deby
    command: /home/deby/poky/meta-debian/tests/build_test.sh

  qemu_ptest:
    extends:
      file: common.yml
      service: deby
    environment:
      PTEST_RUNNER_TIMEOUT: $PTEST_RUNNER_TIMEOUT
      QEMU_PARAMS: $QEMU_PARAMS
    command: /home/deby/poky/meta-debian/tests/qemu_ptest.sh

volumes:
  downloads:
